.notification {
    position: fixed;
    z-index: 1;
    bottom: 16px;
    right: 16px;
}

.agent-avatar {
    width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.agent-avatar.small {
    width: 36px;
}